body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    text-align: center;
    color: #c957a5;
    padding: 20px 0;
}

a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

p {
    text-align: center;
    font-size: 18px;
}

.exercise {
    background-color: #e7f1e7;
    border-left: 5px solid #d05cbd;
    padding: 20px;
    margin: 20px 0;
}

.exercise h2 {
    color: #333;
    text-align: center;
}

.exercise ul {
    list-style-type: none;
    padding: 0;
}

.exercise li {
    font-size: 18px;
    margin: 5px 0;
}

.back-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

.back-button:hover {
    background-color: #0056b3;
}
